@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
  /*font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background-color: #FCFCFC;
}

h1 { font-size: 2.1rem; }
h2 { font-size: 1.9rem; }
h3 { font-size: 1.7rem; }
h4,
h5,
h6 { font-size: 1.5rem; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

header,
footer {
  margin: 1rem 0;
  text-align: center;
}

main {
  margin: 4rem 0;
}

hr {
  height: 1px;
  margin: 2rem 0;
  background: #FF6666;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(#FF6666), to(white));
  background: -webkit-linear-gradient(left, white, #FF6666, white);
  background: linear-gradient(to right, white, #FF6666, white);
}

.container {
  width: 90%;
  max-width: 600px;
}

.header-logo img {
/*
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid #E1E1E1;
  */
  border: 2px solid #F1F1F1;
}

.header-logo img:hover {
  /*border-color: #F1F1F1;*/
  border: 2px solid #FFFFFF;
}

.site-title {
  margin-top: 2rem;
}

.entry-title {
  margin-bottom: 2rem;
}

.entry-title a {
  text-decoration: none;
}

.entry-meta {
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color: #888;
}

.footer-link {
  margin: 2rem 0;
}

.hr {
  height: 1px;
  margin: 2rem 0;
  background: #E1E1E1;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(#E1E1E1), to(white));
  background: -webkit-linear-gradient(left, white, #E1E1E1, white);
  background: linear-gradient(to right, white, #E1E1E1, white);
}

.icon-home {
  text-align: center;
}

.icon-next {
  text-align: right;
}

.spacer32 {
  clear: both;
  width: 32px;
  height: 32px;
}
