@import 'bootstrap-reboot.min.css';
@import "setting";
@import "mixin";

[data-span] {
  background: linear-gradient(to left, rgba(red, 0.125), rgba(red, 0.125)), rgba(white, 0.5);
  background-clip: content-box, padding-box;
  float: left;
  //padding-bottom: 1rem;
  //padding-top: 1rem;
  outline: 1px solid red;
  text-align: center;
}


img {
    width: 100%;
    height: auto;
    @include borderColor(1);
}


