@import 'bootstrap-reboot.min.css';
@import "setting";
@import "mixin";

// ヘッダーバナー
.headerBanner {
    display: block;
    width: 100%;
    height: auto;
    //position: fixed;
    //top: 50vh;
    background: rgba(#ffffff, 0.9);
    text-align: center;
    margin-bottom: 2vh;
    @include borderColor(1);
}

.headerBanner__img {
    max-width: 80%;
    height: auto;
}

// コンテンツセクション
.contentsSection {
    display: block;
    width: 90%;
    max-width: 1000px;
    height: auto;
    //min-height: 55vh;
    margin-right: auto;
    margin-left: auto;
    //padding-left: 0.5vw;
    @include borderColor(2);
}

.contentsSection__img {
    float: left;
    width: auto;
    height: 52px;
    @include borderColor(4);
}

.contentsSection__header {
    font-size: 2.5rem;
    font-family: 'Fjalla One', sans-serif;
    @include borderColor(5);
}

.contentsSection__p {
    font-family: "Noto Sans JP";
    float: left;
    padding: 1px;
    margin-right: 1vw;
    @media screen and (min-width: 480px) {
        width: 100%;
    }
    @media screen and (min-width: 600px) {
        width: 100%;
    }
    @media screen and (min-width: 960px) {
        width: 60%;
    }
    @include borderColor(6);
}

// フッターセクション
.footerSection {
    @extend .contentsSection;
    //min-height: 35vh;
    height: 7vh;
    padding-top: 2vh;
    text-align: center;
    @include borderColor(3);
}
